<%= form_for(:user, :url => registration_path(:user)) do |f| %> 
  <div class="modal-header" style="text-align: center">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Sign up here!</h4>
  </div>
  <div class="modal-body" style="text-align: center">
    <div class="registrationCont">
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "modalInput rttInput", :placeholder => "First" %>
      </div>

      <br>

      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "modalInput rttInput", :placeholder => "Last" %>
      </div>

      <br>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "modalInput rttInput", :placeholder => "example@email.com" %>
      </div>

      <br>

      <div>
        <%# Date options are in the landing_helper module %>
        <%= f.label :birthday %>
        <span class="modalInput">
          <%= f.date_select :birthday, date_options, :class => "rttInput" %>
        </span>
      </div>

      <br>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "modalInput rttInput", autocomplete: "off", :placeholder => "Password" %>
      </div>

      <br>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "modalInput rttInput", autocomplete: "off", :placeholder => "Confirm Password" %>
      </div>

      <br>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button "Create Account", :class => "btn btn-warning" %>
  </div>
<% end %>