<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation" >
	<div class = "navbar-header">
		<button class = "navbar-toggle" type = "button" data-toggle="collapse" data-target = "#bsnavbar-collapse">
			<span class = "sr-only">Toggle navigation</span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>
		<div><%= link_to image_tag("RunThisTownLogo1.png", :style => "height: 48px; padding: 0; margin: 6px 20px 6px", :class => "navbar-brand"), root_path %></div>
	</div>
	<div class="collapse navbar-collapse" id="bs-navbar-collapse">
		<div id = "searchContainer" class="navbar-form navbar-left" role="search">
			<div id = "inputContainer" class="form-group" style = "margin-top: 10px;">
    			<input type="text" id = "routeAndFriendFinder" class="form-control" placeholder="Find Routes" style = "border-radius: 5px 0 0 5px;">
          <div class="btn-group">
            <button type="button" id = "routePeopleDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style = "border-radius: 0 5px 5px 0; margin-left: -4px; width: 86px; ">
              Routes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a style = "cursor: pointer;" id = "findPeopleBtn">People</a></li>
              <li><a style = "cursor: pointer;" id = "findRoutesBtn">Routes</a></li>
            </ul>
          </div>
  		</div>
  		<button id = "navSearchBtn" type="submit" class="btn btn-warning" style = "margin-top: 10px; margin-left:3px;">Search</button>
		</div>
		<ul class = "nav navbar-nav navbar-right">
      <% if user_signed_in? then %>

        <li><%= link_to current_user.first_name, user_show_path %></li>
        <li>
          <div class = "dropdown">
            <span id = "extraInfo" class = "glyphicon glyphicon-cog" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" style = "margin-right: 10px;">
              <li role="presentation"><a id = "navHelpItem" role="menuitem" tabindex="-1" style = "cursor: pointer; display: none; " data-toggle="modal" data-target=".helpModal">Help</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><%= link_to 'My Profile', user_show_path %></li>
              <li role="presentation"><%= link_to 'Account Settings', edit_user_registration_path %></li>
              <li id = "signOut" role="presentation"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a id = "creditsBtn" role="menuitem" tabindex="-1" style = "cursor: pointer;"  data-toggle="modal" data-target="#creditsModal">Credits</a></li>
            </ul>
          </div>
        </li>

      <% else %>
        <li><a data-toggle="modal" data-target="#loginModal" style = "cursor: pointer">Log In</a></li>
        <li>
          <div class = "dropdown">
            <span id = "extraInfo" class = "glyphicon glyphicon-cog" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" style = "margin-right: 10px;">
              <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" data-toggle="modal" data-target=".helpModal">Help</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a id = "creditsBtn" role="menuitem" tabindex="-1" style = "cursor: pointer;"  data-toggle="modal" data-target="#creditsModal">Credits</a></li>
            </ul>
          </div>
        </li>
    <% end %>
		</ul>
	</div>
</nav>

<div class="navbarUnderlay"></div>

<div class="modal fade" id = "creditsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content" style = "background-color: beige">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Credits</h3>
      </div>
      <div class="modal-body">
        <p>Thanks to all these awesome sources for helping make this website possible!</p><br>
        <ul>
          <li><p><a href = "http://glyphicons.com">Glyphicons</a></p></li>
          <li><p><a href = "http://getbootstrap.com">Bootstrap</a></p></li>
          <li><p><a href = "https://developers.google.com/maps/">Google Maps API</a></p></li>
          <li><p>Sarah Liu for her amazing photography!</p></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade" id = "loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center" style = "width: 700px;">
    <div class="modal-content" style = "background-color: beige">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body" style = "text-align: center">
          <div class="registrationCont">
            <div>
              <%= f.label :email, :style => "font-weight: normal" %>
              <%= f.email_field :email, :autofocus => true , :class => "modalInput rttInput" %>
            </div>
            <br>
            <div>
              <%= f.label :password, :style => "font-weight: normal" %>
              <%= f.password_field :password , :class => "modalInput rttInput" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          <%= f.button "Log in", :class=>"btn btn-warning" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END LOGIN MODAL -->
