<!DOCTYPE html>
<html>
<head>
  <title>RunThisTown</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    params[:controller] %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>

  <!-- Common js components -->
  <script type="text/javascript">
    console.log("Initizlizing common components");
    var navbarCtrl = new NavBarController();
    $(document).ready(function() {
      navbarCtrl.init();
    });
  </script>
</head>
<body>
	<div id="naviBar"><%= render 'partials/navbar' %> </div>

	<!-- FOR DEVISE NOTICES, if we decide to use them -->
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->

	<%= yield %>

</body>
</html>
