<!DOCTYPE html>
<html>
<head>
  <title>RunThisTown</title>

  <!-- Google Maps -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUpd0JH2ETsua4nzZ4VHqwf1IrEJaGhiY&sensor=true&libraries=places"></script>
  <script type="text/javascript" src="http://geoxml3.googlecode.com/svn/branches/polys/geoxml3.js"></script>

  <!-- Le sexy icon -->
  <%= favicon_link_tag "RunThisTownIcon.ico" %>

  <!-- D3.js -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    params[:controller] %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>

  <!-- Common js components -->
  <script type="text/javascript">
    console.log("Initializing common components");
    var navbarCtrl = new NavBarController();
    $(document).ready(function() {
      navbarCtrl.init();
    });
  </script>
</head>
<body>
	<div id="naviBar"><%= render 'partials/navbar' %> </div>

	<!-- FOR DEVISE NOTICES, if we decide to use them -->
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->

	<%= yield %>

</body>
</html>
